<div id="sect1" class="container">
  <h1 class="h1">
    Welcome to Sing And Dance Academy
  </h1>
  <br /> <br />

  <h2 class="h1">
    WHO WE ARE
  </h2>
  <br />  <br />
          <h3>
            A global collective of music makers and dance lovers, <br /> <br />
            An Academy where you can learn singing and dancing <br />
            Do check out our song albums in the Albums tab and <br />
            dance concerts in the Concerts tab <br />
            <br />
            What are you waiting for?
            Get in touch and we will help you with your passion.
          </h3>
</div>
